<html>
    <head> 
        <title>Hello</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    
    <body>
       
        <div class="card" style="background-color: aqua;">
                <div class="card-header">
                        <h1 style="font-size:30px; text-align:center; color:palevioletred;">Hallo, Apa kabar?</h1>
                      </div>
        
        <div class="card-body">
        <form id = "" method="POST" action="" style="font-size:20px; text-align:center">
                {% csrf_token %}
                {{form.as_p}}
                <div class = "submit-btn">
                    <input type = "submit" value="Submit" name="submit">
                </div>
            </form>
        </div>
            <div class="card-header">
                <p style="font-size:30px; text-align:center; color:palevioletred">My Status</p>
            </div>
            <div class="card-body">
            <table class = "table" style="font: size 20px; text-align:center">
                {% for i in mystatus %}
                <tr>
                    <td>{{i.mystatus}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>  
              
    </body>
</html>
